/* global view */
body {
    background-color: #F3F3F3;
    margin: 0;
    text-align: center;
    font-family: "Asap", sans-serif;
}

h2 {
    color: #0040CB;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #0040CB;
}

a {
    color: #F3F3F3;
    text-decoration: none;
}

a:hover {
    color: #303841;
}

/* loader */
.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #303841;
    width: 100%;
    height: 100svh;
    animation: loader .9s ease-in-out .7s forwards;
}

@keyframes loader {
    from {
        opacity: 1;
        height: 100%;
    }

    to {
        height: 0;
    }
}

/* header menu */
header {
    color: #F3F3F3;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: linear-gradient(30deg, #0422B8, #0040CB);
}

.header-container {
    max-width: 1200px;
    min-height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* brand */
.highlight {
    font-size: 23px;
    font-weight: 700;
}

.logo a:hover {
    color: #F3F3F3;
}

/* mobile menu icon */
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    color: #F3F3F3;
}

/* desktop navigation */
.ul-nav {
    list-style-type: none;
    overflow: hidden;
    display: flex;
}

.ul-nav li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul-nav li a {
    display: inline-block;
    text-align: center;
    margin: 0px 3px;
    padding: 10px;
    text-decoration: none;
    color: #F3F3F3;
}

.ul-nav li span {
    display: block;
    width: 0;
    height: 2px;
    background: #F3F3F3;
    transition: 0.2s ease-in-out;
    transform-origin: left;
    transform: scaleX(1);
}

li a:hover~span {
    width: 70%;
    transform: scaleX(1);
}

/* main menu */
/* hero */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.gradient-background {
    background: linear-gradient(110deg, #0422B8, #0040CB);
}

.hero-container {
    max-width: 1200px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    padding: 95px 0 60px;
    color: #F3F3F3;
}

.hero-wrapper {
    background-image: url(/assets/images/hero/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    min-height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #0A5AAC;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px 40px;
}

.hero-content h1 {
    font-size: 5.625rem;
    font-weight: 700;
    font-family: "Sacramento", cursive;
    line-height: 80px;
    margin-top: 40px;
}

.hero-content h3 {
    color: #F3F3F3;
    font-size: 2rem;
    padding: 15px 0;
}

.hero-content h4 {
    font-style: italic;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 40px 0 20px;
}

.hero-social h5 {
    font-size: 1.125rem;
    margin-top: 20px;
}

.social-icon {
    margin: 10px 0 35px;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid #F3F3F3;
    background-color: transparent;
    border-radius: 50%;
    font-size: 2rem;
    color: #F3F3F3;
    margin: 0.5rem 0.5rem 0.5rem 0;
    transition: 0.5s all ease;
}

.social-icon a:hover {
    background-color: #F3F3F3;
}

.social-icon a:hover>.fa-linkedin {
    color: #0077b5;
}

.social-icon a:hover>.fa-github {
    color: #333333;
}

.social-icon a:hover>.fa-x-twitter {
    color: #333333;
}

.social-icon a:hover>.fa-facebook {
    color: #1877F2;
}

.hero-button {
    font-size: 1.25rem;
}

.hero-button1 {
    margin-right: 5px;
    border-radius: 10px;
    padding: 10px 24px;
    color: #F3F3F3;
    background-color: #0D1282;
    border: 1px solid #F3F3F3;
    font-weight: 600;
}

.hero-button1:hover {
    color: #F3F3F3;
    background-color: #041562;
    border: 1px solid #F3F3F3;
}

.hero-button2 {
    margin-left: 5px;
    border-radius: 10px;
    padding: 10px 24px;
    background-color: #0138af;
    border: 1px solid #F3F3F3;
    font-weight: 600;
}

.hero-button2:hover {
    color: #F3F3F3;
    background-color: #191BA9;
}

/* about */
#about-section {
    padding: 20px 0;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
    background-color: #F3F3F3;
}

/* about title */
.about-wrapper h2 {
    font-size: 2.5rem;
    margin: 60px 0 20px 0;
}

/* about left */
.about-text {
    display: flex;
}

.about-one {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 11px;
}

.about-one img {
    width: 165px;
    height: 175px;
    border-radius: 100px;
    box-shadow: 0px 0px 7px #303841;
}

.about-one img:hover {
    opacity: .9;
}

/* about right */
.about-two {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 11px;
}

.about-two .about-p {
    font-size: 16px;
    text-align: justify;
    margin: 10px 0 10px;
    line-height: 25px;
}

/* skill */
#skill-section {
    background-color: #EDEDED;
}

.skill-container {
    padding-top: 20px;
    padding-bottom: 80px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* skill title */
.skill-wrapper h2 {
    font-size: 2.5rem;
    margin: 60px 0 20px 0;
}

.skill-wrapper h3 {
    font-size: 1.3rem;
    padding: 20px 0px;
}

.skill-content {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #0040CB;
    padding: 20px 0;
    text-align: left;
}

.skills {
    width: 100%;
    display: flex;
}

.skill-base {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.skill-base ul li {
    font-size: 16px;
}

/* professional skill */
.skill-professional {
    padding: 5px 0px;
    border-right: 1px solid #0040CB;
    margin-bottom: 10px;
}

.skill-professional ul {
    width: 100%;
}

.skill-professional ul>li {
    padding: 5px 10px;
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
}

/* tool skill */
.skill-tools {
    padding: 5px 0;
    border-right: 1px solid #0040CB;
    margin-bottom: 10px;
}

.skill-tools ul {
    width: 100%;
}

.skill-tools li {
    padding: 5px 10px;
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
}

/* language skill */
.skill-languages {
    width: 75%;
    padding-left: 30px;
}

.skill-languages-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    font-size: 16px;
}

.language-name {
    width: 20%;
    display: flex;
    align-items: center;
}

.language-persent-number {
    width: 8%;
    text-align: left;
    padding: 5px;
}

.language-persent {
    width: 70%;
    display: flex;
    align-items: center;
    position: relative;
}

.language-persent-grey,
.language-persent-blue {
    display: block;
    height: 12px;
    position: absolute;
    border-radius: 10px;
}

.language-persent-grey {
    background-color: rgb(151, 151, 152);
    width: 100%;
}

.language-persent-blue {
    background-color: #0040CB;
    width: 100%;
}

/* project */
#project-section {
    padding: 20px 0;
}

.project-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
}

/* project title */
.project-title h2 {
    text-align: center;
    margin: 60px 0 20px;
}

/* project card */
.project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background-color: #303841;
    border: 2px solid #0040CB;
    border-radius: 5px;
    box-shadow: 0 0 5px #303841;
    margin: 10px;
    padding: 8px;
    text-align: center;
    width: 330px;
    display: flex;
    flex-direction: column;
}

/* project card image */
.project-card img {
    max-width: 100%;
    height: 250px;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0 0 5px #F3F3F3;
}

/* project card h4 */
.project-card h4 {
    line-height: 23px;
    font-size: 18px;
    margin: 10px 0 8px;
    padding: 5px 0 0;
    color: #F3F3F3;
}

/* project card p */
.project-card .project-p1 {
    line-height: 20px;
    font-size: 14px;
    color: #F3F3F3;
    text-align: justify;
}

.project-card .project-p2 {
    line-height: 20px;
    font-size: 14px;
    color: #F3F3F3;
    text-align: left;
    padding: 5px 0 10px;
    font-style: italic;
}

/* project card line */
.project-bottom-line {
    width: 100%;
    border-top: 2px solid #0040CB;
    margin: 0px auto;
    padding: 5px 0;
}

/* project card button */
.project-button-list {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-button-list a {
    margin: 4px;
}

.project-button {
    padding: 8px;
    background-color: #0040CB;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    box-shadow: 0 0 3px #F3F3F3;
}

.project-button:hover {
    color: #F3F3F3;
    background-color: #0256cc;
    border-color: #F3F3F3;
}

/* certificate */
#certificate-section {
    padding: 20px 0;
    background-color: #EDEDED;
}

.certificate-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
}

/* certificate title */
.certificate-title h2 {
    text-align: center;
    margin: 60px 0 20px;
}

/* certificate card */
.certificate-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certificate-card {
    border: 1px solid #0040CB;
    border-radius: 3px;
    box-shadow: 0 0 5px #0040CB;
    margin: 8px;
    text-align: center;
    width: 280px;
    display: flex;
    flex-direction: column;
}

/* certificate card image */
.certificate-card img {
    border-radius: 3px;
    max-width: 100%;
    height: 200px;
}

.certificate-card img:hover {
    cursor: zoom-in;
    opacity: .8;
}

/* modal container */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #292929;
    z-index: 1500;
    overflow: auto;
}

/* modal content */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1px;
    max-width: 1200px;
    width: 85%;
    overflow-y: auto;
}

.modal-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.modal-content img:hover {
    cursor: zoom-out;
}

/* footer menu */
/* contact */
#contact-section {
    background: linear-gradient(110deg, #0422B8, #0040CB);
}

.contact-container {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-wrapper {
    padding: 20px 0;
}

.contact-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
    margin: 40px 0 30px;
}

/* contact text */
.contact-text {
    text-align: left;
}

.contact-text h3 {
    font-size: 2rem;
    margin-bottom: 25px;
    color: #F3F3F3;
}

.contact-text h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #F3F3F3;
}

.contact-text p {
    font-size: 16px;
    color: #F3F3F3;
    line-height: 20px;
    margin-bottom: 40px;
}

/* get contact */
.get-contact {
    max-width: 1200px;
    width: 100%;
    color: #F3F3F3;
}

.info {
    background-image: url(/assets/images/contact/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 30px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.30);
}

.info i {
    font-size: 20px;
    color: #F3F3F3;
    float: left;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 1px solid #F3F3F3;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.info .email:hover i {
    background: #F3F3F3;
    color: #0489C9;
}

.info .address:hover i {
    background: #F3F3F3;
    color: #EA4335;
}

.info h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.info p {
    margin-bottom: 20px;
    line-height: 20px;
}

.info a {
    color: #F3F3F3;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: left;
    transition: 0.3s;
}

.info a:hover {
    color: #F3F3F3;
}

/* copyright */
#footer-section {
    padding: 10px;
    background-color: #011a94;
}

.footer-container {
    text-align: center;
    color: #F3F3F3;
    height: 50px;
}

/* copyright by */
.footer-text-one {
    font-size: 14px;
    margin: 20px 0 5px 0;
}

/* powered by */
.footer-text-two {
    font-size: 12px;
    margin: 5px 0 8px 0;
}

/* love and passion */
.footer-text-three {
    font-size: 12px;
    margin: -20px 0 5px 0;
    text-align: right;
}

/* button to top */
#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 95px;
    right: 20px;
    background-color: #0099FF;
    color: #F3F3F3;
    border: none;
    border-radius: 50%;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
}

#scroll-to-top:hover {
    background-color: #1877F2;
}

/*  responsive for 1200px  */
@media (max-width: 1200px) {

    /* header-menu */
    .logo {
        padding: 0px 20px;
    }

    nav {
        padding: 0px 20px;
    }

    /* main-menu */
    /* hero */
    .hero-container {
        width: 90%;
    }

    /* about */
    .about-container {
        width: 90%;
    }

    /* skill */
    .skill-container {
        width: 90%;
        padding-bottom: 0px;
    }

    .skill-wrapper {
        padding: 0 0 50px 0;
    }

    .skill-wrapper p {
        width: 80%;
    }

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill-base {
        width: 100%;
    }

    .skill-content {
        border-bottom: none;
    }

    .skill-professional {
        border-right: none;
    }

    .skill-tools {
        border-right: none;
    }

    .skill-languages {
        width: 100%;
        padding: 0px 22.5px;
    }

    .skill-professional ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-professional ul li {
        display: block;
        width: 25%;
        align-items: center;
        padding: 20px;
    }

    .skill-tools ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-tools ul li {
        display: block;
        width: 25%;
        align-items: center;
        padding: 20px;
    }

    /* footer-menu */
    /* contact */
    .contact-container {
        width: 90%;
    }
}

/* responsive for 992px */
@media (max-width: 992px) {

    /* header-menu */
    .highlight {
        font-size: 20px;
        font-weight: 700;
    }

    .menu-icon {
        display: block;
        margin: 0 20px;
        padding: 5px 10px;
        border: 1px solid #F3F3F3;
        border-radius: 5px;
    }

    .menu-icon:hover {
        border: 1px solid #F3F3F3;
        border-radius: 5px;
    }

    nav {
        display: none;
        background: linear-gradient(113deg, #0422B8, #0040CB);
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        padding-bottom: 20px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    nav.active {
        display: flex;
    }

    .ul-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .ul-nav li a {
        font-size: 14px;
    }

    .ul-nav li a:hover {
        color: #BDCDD6;
    }

    .ul-nav li span {
        display: none;
    }

    /* main-menu */
    /* hero */
    .hero-content h1 {
        font-size: 5rem;
    }

    .hero-content h3 {
        font-size: 1.875rem;
    }

    .hero-content h4 {
        font-size: 1.125rem;
    }

    .hero-social h5 {
        font-size: 1rem;
    }

    .social-icon a {
        font-size: 1.75rem;
    }

    .hero-button {
        font-size: 1.125rem;
    }

    /* about */
    .about-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-one {
        margin: 10px 0 15px;
    }

    /* skill */
    .skill-professional h3 {
        font-size: 1.25rem;
    }

    .skill-professional ul li {
        line-height: 18px;
        font-size: 15px;
    }

    .skill-tools h3 {
        font-size: 1.25rem;
    }

    .skill-tools ul li {
        line-height: 18px;
        font-size: 15px;
    }

    .skill-languages h3 {
        font-size: 1.25rem;
    }

    .language-name,
    .language-persent-number {
        font-size: 0.94rem;
    }

    /* footer-menu */
    /* copyright */
    .footer-text-three {
        margin: 0 0 5px 0;
    }
}

/* responsive for 600px */
@media (max-width: 600px) {

    /* main-menu */
    /* hero */
    .hero-content h1 {
        font-size: 4.375rem;
    }

    .hero-content h3 {
        font-size: 1.75rem;
        padding: 10px 0;
    }

    .hero-content h4 {
        font-size: 1rem;
    }

    .hero-social h5 {
        font-size: 0.875rem;
    }

    .social-icon a {
        font-size: 1.5rem;
    }

    .social-icon a {
        width: 2.5rem;
        height: 2.5rem;
    }

    .hero-button {
        font-size: 1rem;
    }

    /* about */
    .about-wrapper h2 {
        font-size: 2rem;
    }

    .about-one img {
        width: 145px;
        height: 155px;
    }

    .about-two .about-p {
        font-size: 15px;
    }

    /* skill */
    .skill-wrapper h2 {
        font-size: 2rem;
    }

    .skill-wrapper p {
        font-size: 15px;
    }

    .skill-professional ul li {
        width: 40%;
        text-align: center;
    }

    .skill-tools ul li {
        width: 20%;
        line-height: 18px;
        text-align: center;
    }

    .language-name {
        width: 100%;
        text-align: left;
        padding: 5px 0;
    }

    .language-persent-number {
        width: 100%;
        text-align: left;
        padding: 0px;
        display: flex;
        justify-content: left;
    }

    .language-persent {
        width: 100%;
        display: flex;
        padding: 10px 0;
        justify-content: left;
        align-items: center;
        position: relative;
        order: 1;
    }

    /* project */
    .project-wrapper h2 {
        font-size: 2rem;
    }

    .project-card h4 {
        font-size: 16px;
    }

    .project-card .project-p1 {
        font-size: 12px;
    }

    .project-card .project-p2 {
        font-size: 12px;
    }

    .project-button-list {
        font-size: 14px;
    }

    /* certificate */
    .certificate-wrapper h2 {
        font-size: 2rem;
    }

    /* footer menu */
    /* contact */
    .contact-text h3 {
        font-size: 1.75rem;
    }

    .contact-text h4 {
        font-size: 1.25rem;
    }

    .contact-text p {
        font-size: 15px;
    }

    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }

    .contact-main {
        width: 100%;
    }

    .info i {
        font-size: 18px;
    }

    .info h5 {
        font-size: 18px;
    }

    .info p {
        font-size: 15px;
    }

    /* copyright */
    .footer-text-three {
        text-align: center;
    }

    .footer-text-one {
        font-size: 12px;
    }

    .footer-text-two {
        font-size: 10px;
    }

    .footer-text-three {
        font-size: 10px;
    }
}

/* responsive for 500px */
@media (max-width: 500px) {

    /* header menu */
    .highlight {
        font-size: 15px;
        font-weight: 700;
    }

    .burger-menu {
        font-size: 14px;
    }

    .menu-icon {
        margin: 0 20px;
        padding: 0px 10px 5px;
    }

    .ul-nav li a {
        font-size: 13px;
    }

    /* main menu */
    /* hero */
    .hero-content h1 {
        font-size: 3.125rem;
        margin-top: 15px;
    }

    .hero-content h3 {
        font-size: 1.375rem;
    }

    .hero-content h4 {
        margin: 25px 0 10px;
    }

    .hero-social h5 {
        margin-top: 10px;
    }

    .social-icon {
        margin: 10px 0 25px;
    }

    .hero-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-button1 {
        margin: 0 0 5px;
        width: 100%;
    }

    .hero-button2 {
        margin: 5px 0 0;
        width: 100%;
    }

    /* about */
    .about-wrapper h2 {
        font-size: 1.5rem;
        margin: 50px 0 15px 0;
    }

    .about-one img {
        width: 135px;
        height: 145px;
    }

    .about-two .about-p {
        font-size: 14px;
    }

    /* skill */
    .skill-wrapper h2 {
        font-size: 1.5rem;
    }

    .skill-wrapper p {
        font-size: 14px;
    }

    .skill-professional h3 {
        font-size: 1rem;
    }

    .skill-professional ul li {
        font-size: 14px;
    }

    .skill-tools h3 {
        font-size: 1rem;
    }

    .skill-tools ul li {
        font-size: 14px;
    }

    .skill-base {
        width: 85%;
    }

    .skill-languages {
        width: 85%;
    }

    .skill-languages h3 {
        font-size: 1rem;
    }

    .language-name,
    .language-persent-number {
        font-size: 0.8rem;
    }

    /* project */
    .project-wrapper h2 {
        font-size: 1.5rem;
    }

    .project-button-list {
        flex-direction: column;
    }

    .project-button {
        width: 90%;
    }

    /* certificate */
    .certificate-wrapper h2 {
        font-size: 1.5rem;
    }

    /* footer-menu */
    /* contact */
    .contact-text h3 {
        font-size: 1.375rem;
    }

    .contact-text h4 {
        font-size: 1.125rem;
    }

    .contact-text p {
        font-size: 14px;
    }

    .info i {
        font-size: 16px;
        width: 34px;
        height: 34px;
    }

    .info h5 {
        font-size: 16px;
    }

    .info p {
        font-size: 13px;
    }
}

/* responsive for 400px */
@media (max-width: 400px) {

    /* header menu */
    .highlight {
        font-size: 14px;
        font-weight: 700;
    }

    /* main menu */
    /* hero */
    .hero-content h1 {
        font-size: 2.5rem;
        margin-top: 12px;
    }

    .hero-content h3 {
        font-size: 1.25rem;
        padding: 5px 0;
    }

    .hero-content h4 {
        font-size: 0.875rem;
        margin: 15px 0 10px;
    }

    .hero-social h5 {
        font-size: 0.75rem;
    }

    .social-icon a {
        font-size: 1.25rem;
    }

    .social-icon a {
        width: 2.25rem;
        height: 2.25rem;
    }

    .hero-button {
        font-size: 0.875rem;
    }

    /* skill */
    .skill-professional ul li {
        text-align: center;
    }

    .skill-tools ul li {
        width: 40%;
        line-height: 18px;
        text-align: center;
    }

    .skill-languages {
        width: 80%;
    }

    /* project */
    .project-card h4 {
        font-size: 14px;
    }

    .project-card .project-p1 {
        font-size: 10px;
    }

    .project-card .project-p2 {
        font-size: 10px;
    }

    .project-button-list {
        font-size: 12px;
    }
}

/* responsive for 300px */
@media (max-width: 300px) {

    /* header-menu */
    .highlight {
        font-size: 13px;
        font-weight: 700;
    }

    .burger-menu {
        font-size: 12px;
    }

    .menu-icon {
        margin: 0 15px 0 0;
        padding: 0px 10px 5px;
    }

    .ul-nav li a {
        font-size: 12px;
    }

    /* main-menu */
    /* hero */

    /* about */
    .about-wrapper h2 {
        font-size: 1.25rem;
    }

    .about-one img {
        width: 125px;
        height: 135px;
    }

    .about-two .about-p {
        font-size: 13px;
    }

    /* skill */
    .skill-wrapper h2 {
        font-size: 1.25rem;
    }

    .skill-languages {
        width: 75%;
    }

    /* project */
    .project-wrapper h2 {
        font-size: 1.25rem;
    }

    /* certificate */
    .certificate-wrapper h2 {
        font-size: 1.25rem;
    }

    /* footer-menu */
    /* contact */
    .contact-text h3 {
        font-size: 1.125rem;
    }

    .contact-text h4 {
        font-size: 1rem;
    }

    .contact-text p {
        font-size: 13px;
    }

    .info i {
        width: 24px;
        height: 24px;
    }

    .info h5 {
        font-size: 14px;
    }

    .info p {
        font-size: 12px;
    }

    /* copyright */
    .footer-text-three {
        text-align: center;
    }

    .footer-text-one {
        font-size: 10px;
    }

    .footer-text-two {
        font-size: 8px;
    }

    .footer-text-three {
        font-size: 8px;
    }
}